body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: center;
    padding: 0;
  }
  header {
    font-family:monospace;
    font-size:xx-large;
    transition: transform 0.5s ease-in-out;
    background-color: rgb(255, 255, 225);
    color:rgb(129, 95, 66);
    padding: 2em;
    text-align: center; }
